<div class="show-service-container">

  <div class="show-service-img">
   <%= image_tag @service.images %>
  </div>
  <div class="show-service-details">
    <%= link_to services_path do %>
       <i class="fas fa-angle-left"></i><%= "  RETOUR AU SERVICE"%>
    <% end %>


    <h1><%= @service.title %></h1>
    <p> <%= @service.details %></p>
    <%= link_to "DEMANDER UN DEVIS", services_path, class: "d-button" %>
  </div>
</div>
