
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<div class="user-edit-main-container">
  <h2>Mes informations</h2>
  <div class="first-container">
    <div class="first-left">
      <%= f.error_notification %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>On attend toujours la confirmation de ce mail : <%= resource.unconfirmed_email %></p>
      <% end %>
      <div class="inline-input"> <p class="title"> Société :</p><div class="input"> <%=    f.input :company, required: false, autofocus: true, label: false %></div></div>
      <div class="inline-input"> <p class="title"> Prénom :</p><div class="input"> <%=     f.input :first_name, required: false, autofocus: true, label: false %></div></div>
      <div class="inline-input"> <p class="title"> Nom :</p><div class="input"> <%=        f.input :last_name, required: false, autofocus: true, label: false %></div></div>
      <div class="inline-input"> <p class="title"> Adresse :</p><div class="input"><%=     f.input :address, required: false, autofocus: true, label: false %></div></div>
    </div>

    <div class="first-right">
      <div class="inline-input"> <p class="title"> Email :</p><div class="input"><%=              f.input :email, required: true, autofocus: true, label: false %></div></div>
      <div class="inline-input"> <p class="title"> Téléphone :</p><div class="input"><%=          f.input :phone, required: true, autofocus: true, label: false %></div></div>
      <div class="inline-input"> <p class="title"> Facture par email :</p><div class="input"><%=  f.input :paper_invoice, required: false, autofocus: true, label: false %></div></div>
      <div class="inline-input"> <p class="title"> Mots de passe :</p><div class="input">
      <%= f.input :password,
                  placeholder: "Nouveau mot de passe ?",
                  required: false,
                  input_html: { autocomplete: "Nouveau mot de passe" },
                  label: false %>
      <%= f.input :password_confirmation,
                  placeholder: "Nouveau mot de passe ?",
                  required: false,
                  input_html: { autocomplete: "Nouveau mot de passe" },
                  label: false %>
          </div>
      </div>

    </div>
  </div>
  <div class="second-container">
    <div class="form-actions">
      <%= f.input :current_password,
                  placeholder: "Mot de passe actuel pour confirmer les changements.",
                  required: true,
                  input_html: { autocomplete: "Mot de passe actuel" },
                  label: false %>
      <div class="buttons">
        <%= f.button :submit, "Modifier", class: "bici-button"  %>
        <%= link_to "Annuler", :back, class: "bici-button" %>
      </div>
    </div>
    <% end %>
    <p><%= link_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "white"  %></p>
  </div>


</div>


<!--   <div class="form-inputs">








  </div> -->



