<div class="index-contents">
  <% carnets.each do |carnet|  %>

    <%= link_to carnet_path(carnet), class: "index-column index-carnets" do %>
      <div class="index-content center"> <p> <%= carnet.created_at.strftime("%d %B %y") %> </p> </div>
      <div class="index-content center"> <p> <%= carnet.carnet_template.ticket_nb %> </p> </div>
      <div class="index-content center"> <p> <%= number_with_precision((carnet.carnet_template.ticket_nb.to_i * carnet.carnet_template.price_cents.to_i)/100, precision: 2) %> ht </p> </div>
      <div class="index-content center">
        <div id="myItem1"
          class="ldBar label-center ticket-counter"
          data-transition-in=""
          data-max="<%= carnet.carnet_template.ticket_nb%>"
          data-stroke="#FFCC00"
          data-duration="1000"
          data-value=" <%= carnet.remaining_tickets %>">
        </div>
      </div>
    <% end %>
  <% end %>
</div>
