<div class="main-nav">
  <% color_text = (params[:controller] == 'pages' || params[:controller] == 'services') && (params[:action] == 'home' || params[:action] == 'show' || params[:action] == 'story') ? 'text-to-white' : 'text-to-blue'  %>
  <% color_bici = (params[:controller] == 'pages' || params[:controller] == 'services') && (params[:action] == 'home' || params[:action] == 'show') ? 'text-to-white' : 'text-to-blue'  %>
  <% color_user = (params[:controller] == 'pages' || params[:controller] == 'services') && (params[:action] == 'home' || params[:action] == 'show' || params[:action] == 'story') ? 'user-white' : 'user-blue'  %>


  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to root_path, class: "navbar-brand #{color_bici}" do %>
      <h1 class="logo">BICI<strong>COURIERS</strong></h1>
      <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>

              <%#= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>

        <% else %>

          <li class="nav-item">
            <%= link_to "Les services", services_path, class: "nav-link #{color_text} text-nav" %>
          </li>
          <li class="nav-item">
            <%= link_to "Les avantages", avantages_path, class: "nav-link #{color_text} text-nav" %>
          </li>
          <li class="nav-item">
            <%= link_to "Notre histoire", histoire_path, class: "nav-link #{color_text} text-nav" %>
          </li>
          <li class="nav-item">
            <%= link_to "Les tarifs", tarifs_path, class: "nav-link #{color_text} text-nav" %>
          </li>
          <li class="nav-item">
            <%= link_to "Contactez-nous", new_contact_path, class: "nav-link #{color_text} text-nav" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "#{color_user}.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Patience", "#", class: "dropdown-item" %>
              <%= link_to ":D", "#", class: "dropdown-item" %>
              <%#= link_to "Login", new_user_session_path, class: "dropdown-item" %>
            </div>
          </li>
          <li class="nav-item nav-contact">
            <div class="nav-contact">
              <p>bicicouriersnantes@gmail.com</p>
              <p>07.81.66.03.50</p>
            </div>
          </li>
          <div class="nav-oeuf-1">
            <%= image_tag 'navbar/oeuf-1.svg' %>
          </div>
          <div class="nav-oeuf-2">
            <%= image_tag 'navbar/oeuf-2.svg' %>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>
