<div class="carnet-course-main-container">
  <div class="courses">
    <h1>Courses du carnet</h1>
    <div class="index-courses index-titles">
      <div class="index-title title center">  <p>Date</p>                 </div>
      <div class="index-title title">         <p>Point de ramassage</p>   </div>
      <div class="index-title title center">  <p>Date</p>                 </div>
      <div class="index-title title">         <p>Point de livraison</p>   </div>
      <div class="index-title title center">  <p>Statut</p>               </div>
      <div class="index-title title center">  <p>Distance</p>             </div>
      <div class="index-title title">         <p>Prix</p>                 </div>
      <div class="index-title title center">  <p>Ticket(s)</p>            </div>
    </div>
    <div class="index-courses index-contents">
      <% @carnet.courses.each do |course|  %>
        <div class="index-content center"> <p> <%= course.pickups.first.date %> </p> </div>
        <div class="index-content"> <p> <%= course.pickups.first.address %> </p> </div>
        <div class="index-content center"> <p> <%= course.drops.first.date %> </p> </div>
        <div class="index-content"> <p> <%= course.drops.first.address %> </p> </div>
        <div class="index-content center"> <p> <%= course.status%> </p> </div>
        <div class="index-content center"> <p> <%= course.distance/1000.to_f%> km</p> </div>
        <div class="index-content"> <p> <%= course.ticket_nb > 0 ? ((course.carnet.carnet_template.ticket_price.to_f * course.ticket_nb)/100) : 0 %> H.T</p> </div>
        <div class="index-content center"> <p> <%= course.ticket_nb %> </p> </div>
      <% end %>
    </div>
  </div>
</div>
