<div class="course-main-container">
  <div class="course-in-progress">
    <h1>Mes commandes en livraison</h1>
    <div class="index-courses index-titles">
      <div class="index-title title"> <p>date</p> </div>
      <div class="index-title title"> <p>Point de ramassage</p> </div>
      <div class="index-title title"> <p>Point de livraison</p> </div>
      <div class="index-title title"> <p>Statut</p> </div>
      <div class="index-title title"> <p>Prix</p> </div>
      <div class="index-title title"> <p>Ticket(s)</p> </div>
    </div>
    <div class="index-courses index-contents">
      <% @courses.each do |course|  %>
        <div class="index-content"> <p> <%= course.pickups.first.date %> </p> </div>
        <div class="index-content"> <p> <%= course.pickups.first.address %> </p> </div>
        <div class="index-content"> <p> <%= course.drops.first.address %> </p> </div>
        <div class="index-content"> <p> <%= course.status %> </p> </div>
        <div class="index-content"> <p> <%= course.price %> </p> </div>
        <div class="index-content"> <p> <%= course.ticket_nb %> </p> </div>
      <% end %>
    </div>
  </div>
</div>
