<div class="course-main-container">
<%= simple_form_for @course do |f| %>

<div class="first-container">
  <div class="rammassage">
    <%= f.fields_for :pickups do |pickup| %>
        <%= pickup.text_field :address, label: false, :required => true, :placeholder => 'Adresse de rammassage', class: 'inline-form address-input' %>
        <%= pickup.date_field :date, value: Date.today, label: false, :required => true, :placeholder => 'Date', class: 'inline-form' %>
        <%= pickup.text_area :details, :as => :text, :placeholder => 'Des infos à nous communiquer sur le ramassage ?', class: 'inline-form' %>
    <% end %>
  </div>
  <div class="livraison">
    <%= f.fields_for :drops do |drop| %>
        <%= drop.text_field :address, label: false, :required => true, :placeholder => 'Adresse de livraison', class: 'inline-form address-input' %>
        <%= drop.date_field :date, value: Date.today, label: false, :required => true, :placeholder => 'Date', class: 'inline-form' %>
        <%= drop.text_area :details, :as => :text, :placeholder => 'Des infos à nous communiquer sur la livraison ?', class: 'inline-form' %>
    <% end %>
  </div>
</div>
<div class="second-container">
  <div
  id="map-container"
  data-google-api-key="<%= ENV['GOOGLE_API_KEY'] %>">
  </div>
  <div class="options-container">
    <div class="urgences-container">
      <div class="urgence-1 urgence active">
        <div class="urgence-image"></div>
        <p>Livré dans la journée</p>
      </div>
      <div class="urgence-2 urgence">
        <div class="urgence-image"></div>
        <p>Livré dans les 4 prochaines heures</p>
      </div>
      <div class="urgence-3 urgence">
        <div class="urgence-image"></div>
        <p>Livré dans les 45 minutes</p>
      </div>
      <div class="urgence-4 urgence">
        <div class="urgence-image"></div>
        <p>Personnaliser les heures</p>
      </div>
    </div>

    <div class="bikes-container">
      <div class="bike-1 bike active">
        <div class="bike-1-image"></div>
        <p>Sac à dos</p>
      </div>
      <div class="bike-2 bike">
        <div class="bike-2-image"></div>
        <p>Vélo cargo</p>
      </div>
      <%= f.association :bike, as: :radio_buttons, checked: :first, wrapper_html: { style: "display: none" }, class: "hidden" %>
    </div>

    <div class="total-container">
      <div class="total-title price-line"><p>Prestation</p><div class="euro-image"></div><div class="ticket-image"></div> </div>
      <div class="sous-total total-urgence price-line"><p>Urgence</p><p id="urgence-t">0</p></div>
      <div class="sous-total total-distance price-line"><p>Distance</p><p id="distance-t">0</p></div>
      <div class="sous-total total-cargo price-line"><p>Volume/poid</p><p id="cargo-t">0</p></div>
      <div class="total total-ticket price-line"><p>Total</p><p id="total-t">0</p></div>


      <%= f.association :user, default: current_user, class: "hidden user-input" %>
      <%= f.association :carnet, default: current_user.carnets.last, class: "hidden" %>
      <%= f.input_field :distance, class: "hidden distance-input" %>
      <%= f.input_field :tickets_urgence, class: "hidden distance-input" %>
      <%= f.input_field :tickets_volume, class: "hidden distance-input" %>
      <%= f.input_field :tickets_distance, class: "hidden distance-input" %>
      <%= f.input_field :ticket_nb, class: "hhidden tickets-input" %>
      <%= f.input_field :status, value: "pending", class: "hhidden" %>

      <%= f.submit "Commander", class: "bici-button" %>
    </div>
  </div>
</div>
<% end %>
</div>



<!-- t.bigint "carnet_id"
t.bigint "bike_id"
t.integer "ticket_nb"
t.integer "distance"
t.string "details"
t.datetime "created_at", null: false
t.datetime "updated_at", null: false
t.string "status"
t.integer "price"
t.integer "urgence" -->
