<div class="course-show-container">
  <div class="first-container">
    <div class="rammassage">
      <h1>Ramassage</h1>
      <p id="rec-address-pickup"> <%= @course.pickups.first.address %> </p>
      <p> <%= @course.pickups.first.date %></p>
      <p> <%= @course.pickups.first.details %></p>
    </div>
    <div class="livraison">
      <h1>Livraison</h1>
      <p id="rec-address-drop"> <%= @course.drops.first.address %></p>
      <p> <%= @course.drops.first.date %></p>
      <p> <%= @course.drops.first.details %></p>
    </div>
  </div>
  <div class="second-container">
    <div
      id="show-map-container"
      data-google-api-key="<%= ENV['GOOGLE_API_KEY'] %>">
    </div>
    <div class="price-container">
      <div class="total-title price-line"><p>Prestation</p><div class="euro-image"></div><div class="ticket-image"></div> </div>
      <div class="sous-total total-urgence price-line"><p>Urgence</p><p id="urgence-t"><%= @course.tickets_urgence %></p></div>
      <div class="sous-total total-distance price-line"><p>Distance</p><p id="distance-t"><%= @course.tickets_distance %></p></div>
      <div class="sous-total total-cargo price-line"><p>Volume/poid</p><p id="cargo-t"><%= @course.tickets_volume %></p></div>
      <div class="total total-ticket price-line"><p>Total</p><p id="total-t"> <%= @course.ticket_nb %></p></div>
    </div>
  </div>
</div>
